<% content_for :title do %>Juju Solutions Team Dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="review" data-view="List" data-unordered="true" data-title="Review Queue" data-moreinfo="# of items open in the queue"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="github" data-view="Number" data-title="Open Git PRs" style="background-color:#96bf48;"></div>
      <i class="icon-heart icon-background"></i>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="revqtop5" data-view="List" data-title="RevQ Top5"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
      <div data-id="ghtop5" data-view="List" data-title="GitHub Top5"></div>
    </li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="calendar_events" data-pre="0" data-view="Calendar"></div>
</li>

<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="calendar_events" data-pre="1"  data-view="Calendar"></div>
</li>

<!-- 
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
    <div data-id="calendar" data-view="Calendar" data-title="Reviewers on DECK!" style="background-color:#96bf48;"></div>
    </li>
 -->
  </ul>
</div>